.contact-page {
  margin-bottom: 55px;
}

.contact-page .g-map {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.contact-page .g-map #gmap_canvas {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.contact-page .g-map #gmap_canvas img {
  max-width: none !important;
  background: none !important;
}

.contact-page .groham-contact {
  margin-bottom: 52px;
}

.contact-page .contact-form {
  margin: 40px -15px 0;
}
